#hero {
	background: url(../images/bg-hero.jpg) no-repeat center;
	background-size: cover;
	color: white
}

#hero h1 {
	text-transform: capitalize;
	font-weight: 700
}

#hero p {
	font-weight: 400
}

#team {
	background-color: #f2f2f2;
}